{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>


#login {
     background-color: white;
	 color: black;
	 


}
#login:hover {
     background-color: #008CBA;
	 color: white;
	 
	
}
</style>
  </head>
  <body>
  <p></p>
  <div class="container">
  
  <h3>Successful logged out </h3>
  

<a href="{% url 'users:login'%}" class="btn btn-info btn-sm" id="login">login</a>

</form>
</div>
</body>
{% endblock content %}